.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--bgColor);
  color: var(--fontColor);
}

.navbarFixed {
  display: flex;
  position: fixed;
  top: 0;
  width: 90%;
}

.navbar h1 {
  margin: 0;
}

.navbar .navbarFixed .navTitle {
  display: flex;
  gap: 1rem;
}

.navbar .navbarFixed .navTitle h3 {
  margin: 0;
}

.themeButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.active-link {
  font-weight: bold;
  padding-bottom: 0.5rem;
  border-bottom: thin solid #f00;
}
