/* App.module.css */
.App.light {
  /* Estilos para el tema light */
  background-color: white;
  color: black;
}

.App.dark {
  /* Estilos para el tema dark */
  background-color: black;
  color: white;
}
